[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
ipykernel = "*"
install = "*"
torch = "==1.10.1+cu113"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
